<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :second_name %>
    <%= f.text_field :second_name %>
  </div>

  <div class="field">
    <%= f.label :first_surname %>
    <%= f.text_field :first_surname %>
  </div>

  <div class="field">
    <%= f.label :second_surname %>
    <%= f.text_field :second_surname %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.number_field :status %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>

  <div class="field">
    <%= f.label :countries_id %>
    <%= f.text_field :countries_id %>
  </div>

  <div class="field">
    <%= f.label :communes_id %>
    <%= f.text_field :communes_id %>
  </div>

  <div class="field">
    <%= f.label :genders_id %>
    <%= f.text_field :genders_id %>
  </div>

  <div class="field">
    <%= f.label :sexual_identities_id %>
    <%= f.text_field :sexual_identities_id %>
  </div>

  <div class="field">
    <%= f.label :situations_arrivals_countries_id %>
    <%= f.text_field :situations_arrivals_countries_id %>
  </div>

  <div class="field">
    <%= f.label :year_country %>
    <%= f.number_field :year_country %>
  </div>

  <div class="field">
    <%= f.label :month_country %>
    <%= f.number_field :month_country %>
  </div>

  <div class="field">
    <%= f.label :current_situation_countries_id %>
    <%= f.text_field :current_situation_countries_id %>
  </div>

  <div class="field">
    <%= f.label :year_current_situation_countries %>
    <%= f.number_field :year_current_situation_countries %>
  </div>

  <div class="field">
    <%= f.label :month_current_situation_countries %>
    <%= f.number_field :month_current_situation_countries %>
  </div>

  <div class="field">
    <%= f.label :current_statuses %>
    <%= f.number_field :current_statuses %>
  </div>

  <div class="field">
    <%= f.label :you_want_to_dos_id %>
    <%= f.text_field :you_want_to_dos_id %>
  </div>

  <div class="field">
    <%= f.label :sentimental_situations_id %>
    <%= f.text_field :sentimental_situations_id %>
  </div>

  <div class="field">
    <%= f.label :person_waiting_for_a_child %>
    <%= f.check_box :person_waiting_for_a_child %>
  </div>

  <div class="field">
    <%= f.label :family_bonds_id %>
    <%= f.text_field :family_bonds_id %>
  </div>

  <div class="field">
    <%= f.label :profiles_id %>
    <%= f.text_field :profiles_id %>
  </div>

  <div class="field">
    <%= f.label :birthdate %>
    <%= f.date_select :birthdate %>
  </div>

  <div class="field">
    <%= f.label :rut %>
    <%= f.text_field :rut %>
  </div>

  <div class="field">
    <%= f.label :street_number %>
    <%= f.text_field :street_number %>
  </div>

  <div class="field">
    <%= f.label :latitude_y %>
    <%= f.text_field :latitude_y %>
  </div>

  <div class="field">
    <%= f.label :length_x %>
    <%= f.text_field :length_x %>
  </div>

  <div class="field">
    <%= f.label :distances_id %>
    <%= f.text_field :distances_id %>
  </div>

  <div class="field">
    <%= f.label :level_studies_id %>
    <%= f.text_field :level_studies_id %>
  </div>

  <div class="field">
    <%= f.label :date_work_start %>
    <%= f.date_select :date_work_start %>
  </div>

  <div class="field">
    <%= f.label :date_work_end %>
    <%= f.date_select :date_work_end %>
  </div>

  <div class="field">
    <%= f.label :date_work_end_undefined %>
    <%= f.check_box :date_work_end_undefined %>
  </div>

  <div class="field">
    <%= f.label :studies_id %>
    <%= f.text_field :studies_id %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :description_latest_works %>
    <%= f.text_field :description_latest_works %>
  </div>

  <div class="field">
    <%= f.label :description_tasks_performed %>
    <%= f.text_field :description_tasks_performed %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
