<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Nickname</th>
      <th>First name</th>
      <th>Second name</th>
      <th>First surname</th>
      <th>Second surname</th>
      <th>Email</th>
      <th>Status</th>
      <th>Password</th>
      <th>Countries</th>
      <th>Communes</th>
      <th>Genders</th>
      <th>Sexual identities</th>
      <th>Situations arrivals countries</th>
      <th>Year country</th>
      <th>Month country</th>
      <th>Current situation countries</th>
      <th>Year current situation countries</th>
      <th>Month current situation countries</th>
      <th>Current statuses</th>
      <th>You want to dos</th>
      <th>Sentimental situations</th>
      <th>Person waiting for a child</th>
      <th>Family bonds</th>
      <th>Profiles</th>
      <th>Birthdate</th>
      <th>Rut</th>
      <th>Street number</th>
      <th>Latitude y</th>
      <th>Length x</th>
      <th>Distances</th>
      <th>Level studies</th>
      <th>Date work start</th>
      <th>Date work end</th>
      <th>Date work end undefined</th>
      <th>Studies</th>
      <th>Phone</th>
      <th>Description latest works</th>
      <th>Description tasks performed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nickname %></td>
        <td><%= user.first_name %></td>
        <td><%= user.second_name %></td>
        <td><%= user.first_surname %></td>
        <td><%= user.second_surname %></td>
        <td><%= user.email %></td>
        <td><%= user.status %></td>
        <td><%= user.password %></td>
        <td><%= user.countries %></td>
        <td><%= user.communes %></td>
        <td><%= user.genders %></td>
        <td><%= user.sexual_identities %></td>
        <td><%= user.situations_arrivals_countries %></td>
        <td><%= user.year_country %></td>
        <td><%= user.month_country %></td>
        <td><%= user.current_situation_countries %></td>
        <td><%= user.year_current_situation_countries %></td>
        <td><%= user.month_current_situation_countries %></td>
        <td><%= user.current_statuses %></td>
        <td><%= user.you_want_to_dos %></td>
        <td><%= user.sentimental_situations %></td>
        <td><%= user.person_waiting_for_a_child %></td>
        <td><%= user.family_bonds %></td>
        <td><%= user.profiles %></td>
        <td><%= user.birthdate %></td>
        <td><%= user.rut %></td>
        <td><%= user.street_number %></td>
        <td><%= user.latitude_y %></td>
        <td><%= user.length_x %></td>
        <td><%= user.distances %></td>
        <td><%= user.level_studies %></td>
        <td><%= user.date_work_start %></td>
        <td><%= user.date_work_end %></td>
        <td><%= user.date_work_end_undefined %></td>
        <td><%= user.studies %></td>
        <td><%= user.phone %></td>
        <td><%= user.description_latest_works %></td>
        <td><%= user.description_tasks_performed %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
