<p id="notice"><%= notice %></p>

<p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Second name:</strong>
  <%= @user.second_name %>
</p>

<p>
  <strong>First surname:</strong>
  <%= @user.first_surname %>
</p>

<p>
  <strong>Second surname:</strong>
  <%= @user.second_surname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Countries:</strong>
  <%= @user.countries %>
</p>

<p>
  <strong>Communes:</strong>
  <%= @user.communes %>
</p>

<p>
  <strong>Genders:</strong>
  <%= @user.genders %>
</p>

<p>
  <strong>Sexual identities:</strong>
  <%= @user.sexual_identities %>
</p>

<p>
  <strong>Situations arrivals countries:</strong>
  <%= @user.situations_arrivals_countries %>
</p>

<p>
  <strong>Year country:</strong>
  <%= @user.year_country %>
</p>

<p>
  <strong>Month country:</strong>
  <%= @user.month_country %>
</p>

<p>
  <strong>Current situation countries:</strong>
  <%= @user.current_situation_countries %>
</p>

<p>
  <strong>Year current situation countries:</strong>
  <%= @user.year_current_situation_countries %>
</p>

<p>
  <strong>Month current situation countries:</strong>
  <%= @user.month_current_situation_countries %>
</p>

<p>
  <strong>Current statuses:</strong>
  <%= @user.current_statuses %>
</p>

<p>
  <strong>You want to dos:</strong>
  <%= @user.you_want_to_dos %>
</p>

<p>
  <strong>Sentimental situations:</strong>
  <%= @user.sentimental_situations %>
</p>

<p>
  <strong>Person waiting for a child:</strong>
  <%= @user.person_waiting_for_a_child %>
</p>

<p>
  <strong>Family bonds:</strong>
  <%= @user.family_bonds %>
</p>

<p>
  <strong>Profiles:</strong>
  <%= @user.profiles %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @user.birthdate %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @user.rut %>
</p>

<p>
  <strong>Street number:</strong>
  <%= @user.street_number %>
</p>

<p>
  <strong>Latitude y:</strong>
  <%= @user.latitude_y %>
</p>

<p>
  <strong>Length x:</strong>
  <%= @user.length_x %>
</p>

<p>
  <strong>Distances:</strong>
  <%= @user.distances %>
</p>

<p>
  <strong>Level studies:</strong>
  <%= @user.level_studies %>
</p>

<p>
  <strong>Date work start:</strong>
  <%= @user.date_work_start %>
</p>

<p>
  <strong>Date work end:</strong>
  <%= @user.date_work_end %>
</p>

<p>
  <strong>Date work end undefined:</strong>
  <%= @user.date_work_end_undefined %>
</p>

<p>
  <strong>Studies:</strong>
  <%= @user.studies %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Description latest works:</strong>
  <%= @user.description_latest_works %>
</p>

<p>
  <strong>Description tasks performed:</strong>
  <%= @user.description_tasks_performed %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
