<p id="notice"><%= notice %></p>

<h1>User Availabilities</h1>

<table>
  <thead>
    <tr>
      <th>Abilities</th>
      <th>Users</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_availabilities.each do |user_availability| %>
      <tr>
        <td><%= user_availability.abilities %></td>
        <td><%= user_availability.users %></td>
        <td><%= link_to 'Show', user_availability %></td>
        <td><%= link_to 'Edit', edit_user_availability_path(user_availability) %></td>
        <td><%= link_to 'Destroy', user_availability, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Availability', new_user_availability_path %>
