<p id="notice"><%= notice %></p>

<p>
  <strong>Abilities:</strong>
  <%= @user_availability.abilities %>
</p>

<p>
  <strong>Users:</strong>
  <%= @user_availability.users %>
</p>

<%= link_to 'Edit', edit_user_availability_path(@user_availability) %> |
<%= link_to 'Back', user_availabilities_path %>
