<p id="notice"><%= notice %></p>

<h1>Economic Activities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @economic_activities.each do |economic_activity| %>
      <tr>
        <td><%= economic_activity.name %></td>
        <td><%= economic_activity.description %></td>
        <td><%= link_to 'Show', economic_activity %></td>
        <td><%= link_to 'Edit', edit_economic_activity_path(economic_activity) %></td>
        <td><%= link_to 'Destroy', economic_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Economic Activity', new_economic_activity_path %>
